/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'PressStart2P';
  src: url('./PressStart2P-Regular.woff') format('woff');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-Variable.woff2') format('woff2 supports variations'),
       url('./Inter-Variable.woff2') format('woff2-variations');
  font-weight: 400 785;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-Variable.woff2') format('woff2 supports variations'),
       url('./Inter-Variable.woff2') format('woff2-variations');
  font-weight: 400 785;
  font-display: swap;
}