/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like. */

.like-icon {
  cursor: pointer;
  transform-origin: center;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s 0.05s;
}

.contour {
  fill: var(--contour-color, #000000);
  transition: fill 0.1s linear;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--contour-color, #000000);
  transition: fill 0.3s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color, #000000);
  transition: fill 0.3s 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s 0.03s;
}

.like-icon:active .contour {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill 0.3s 0.06s;
}

.like-icon:active .heart {
  transform-origin: center;
  animation: scale 0.3s 0.1s ease-in;
}

.like-icon:active .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}