/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font: 'Inter', Arial, sans-serif;
    --font-accent: 'PressStart2P', fantasy;
    --main-color: #000;
    --bg-color: #fff;
    --button-text-color: #fff;
    --card-font-weight: 400;
    --card-title-font-weight: 700;
}