/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter', Arial, sans-serif;
    --accent-font: 'PressStart2P', 'Courier New', monospace;
    --main-text-weight: 400;
    --title-text-weight: 700;
    --main-color: #000;
    --bg-color: #fff;
    --bg-image: none;
    --button-text-color: #fff;
    --card-font-weight: 400;
    --card-title-font-weight: 700;
}
